target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
/.idea/
.idea/**/sonarlint/
.idea_modules/
/.idea/libraries/aspectj_aspectjweaver.xml
/.idea/jarRepositories.xml
/.idea/uiDesigner.xml
out/
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store
